@import "tailwindcss";
@import "@nuxt/ui";
@import "markstream-vue/index.css" layer(components);
@import "katex/dist/katex.min.css";

:root {
  --ui-radius: 0.25rem;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
